.logo{
    font-family: 'Nunito';
}

.titleSearch{
    background-image: linear-gradient(45deg, #179fec, #8184f0, #e96af4);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}